.background-picture {
    background-image: url('../../Media/Images/prof.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    min-width: 300px;
    
}